<?php
/**
 * FilterApi
 * PHP version 5
 *
 * @category Class
 * @package  SayWhenNachonUtils
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * SayWhen Utils for Nachon
 *
 * SayWhen Utils for Nachon API Documentation
 *
 * OpenAPI spec version: 1.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace SayWhenNachonUtils\API;

use \SayWhenNachonUtils\ApiClient;
use \SayWhenNachonUtils\ApiException;
use \SayWhenNachonUtils\Configuration;
use \SayWhenNachonUtils\ObjectSerializer;

/**
 * FilterApi Class Doc Comment
 *
 * @category Class
 * @package  SayWhenNachonUtils
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class FilterApi
{
    /**
     * API Client
     *
     * @var \SayWhenNachonUtils\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \SayWhenNachonUtils\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\SayWhenNachonUtils\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \SayWhenNachonUtils\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \SayWhenNachonUtils\ApiClient $apiClient set the API client
     *
     * @return FilterApi
     */
    public function setApiClient(\SayWhenNachonUtils\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getDeliveryFloor
     *
     * GetDeliveryFloor from SurveyResults
     *
     * @param \SayWhenNachonUtils\Model\GetDeliveryFloorModelPostModel $body GetDeliveryFloorModelPostModel (required)
     * @throws \SayWhenNachonUtils\ApiException on non-2xx response
     * @return \SayWhenNachonUtils\Model\ApiResponse
     */
    public function getDeliveryFloor($body)
    {
        list($response) = $this->getDeliveryFloorWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation getDeliveryFloorWithHttpInfo
     *
     * GetDeliveryFloor from SurveyResults
     *
     * @param \SayWhenNachonUtils\Model\GetDeliveryFloorModelPostModel $body GetDeliveryFloorModelPostModel (required)
     * @throws \SayWhenNachonUtils\ApiException on non-2xx response
     * @return array of \SayWhenNachonUtils\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDeliveryFloorWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling getDeliveryFloor');
        }
        // parse inputs
        $resourcePath = "/nachon/utils/get-delivery-floor";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenNachonUtils\Model\ApiResponse',
                '/nachon/utils/get-delivery-floor'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenNachonUtils\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenNachonUtils\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
